<section class="noticias container">

  <h2 class="titulo-principal">Noticias</h2>

  <div class="noticias-grid">

    <article class="card" onclick="navigateTo('components/sections/contacto/contacto.html')">
      <h3>Noticia 1</h3>
      <p>...</p>
    </article>

    <article class="card" onclick="navigateTo('components/sections/mejora/que-es.html')">
      <h3>Noticia 2</h3>
      <p>...</p>
    </article>

    <article class="card" onclick="navigateTo('components/sections/ventanilla/ventanilla.html')">
      <h3>Noticia 3</h3>
      <p>...</p>
    </article>

  </div>

</section>