<footer class="footer">

  <div class="footer-top">

    <div class="footer-col">
      <h3>Información de contacto</h3>
      <p><i class="fa-solid fa-phone"></i> (998) 881 28 00 Ext. 7700</p>
      <p><i class="fa-solid fa-envelope"></i> imdai.direcciongeneral@gmail.com</p>
    </div>

    <div class="footer-col">
      <h3>Horario de atención</h3>
      <p><i class="fa-solid fa-clock"></i> Lunes a viernes de 09:00 a 04:00 pm</p>
      <p><i class="fa-solid fa-location-dot"></i> Av. Nader, Andador 3, Local 1 y 2</p>
    </div>

    <div class="footer-col">
      <h3>Redes sociales</h3>
      <div class="footer-social">
        <a href="https://www.instagram.com/imdaibj?igsh=MW52NXI0dmlmZWx6Yg==" target="_blank" rel="noopener" title="Instagram" aria-label="Instagram">
          <i class="fa-brands fa-instagram"></i>
        </a>

        <a href="https://x.com/imdaibj?s=20" class="social-x" target="_blank" rel="noopener noreferrer" title="X" aria-label="X">
          <i class="fa-brands fa-x-twitter"></i>
        </a>

        <a href="https://www.facebook.com/share/14eDhPBRNae/" target="_blank" rel="noopener" title="Facebook" aria-label="Facebook">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
      </div>
    </div>

    <div class="footer-col">
      <h3>Noticias</h3>
      <ul>
        <li><a href="https://transparencia.cancun.gob.mx/trm/web" target="_blank" rel="noopener">Transparencia Municipal</a></li>
        <li><a href="https://contraloria.cancun.gob.mx/index.php" target="_blank" rel="noopener">Contraloría Municipal</a></li>
        <li><a href="https://cancun.gob.mx/home" target="_blank" rel="noopener">Gobierno Municipal</a></li>
      </ul>
    </div>

  </div>

  <div class="footer-bottom">
    <div class="footer-logo-left">
      <img src="assets/img/logo_imdai (2).png" alt="Logo IMDAI" class="footer-logo-img">
    </div>

    <div class="footer-copy">
      © 2025
    </div>

    <div class="footer-logo-right">
      <img src="assets/icons/iconos web IMDAI-35.png" alt="Logo Municipio" class="footer-logo-img">
    </div>
  </div>

</footer>