<nav class="nav">
  <ul class="menu">

    <li onclick="navigateTo('index')">Inicio</li>

    <li class="has-dropdown">
      <span>Nosotros</span>
      <ul class="dropdown">
        <li onclick="navigateTo('components/sections/nosotros/mision.html')">
          Misión, visión, valores
        </li>
        <li onclick="navigateTo('components/sections/nosotros/antecedentes.html')">
          Antecedentes
        </li>
        <li onclick="navigateTo('components/sections/nosotros/organigrama.html')">
          Organigrama
        </li>
        <li onclick="navigateTo('components/sections/nosotros/directorio.html')">
          Directorio
        </li>
        <li onclick="navigateTo('components/sections/nosotros/galeria.html')">
          Galería
        </li>
      </ul>
    </li>

    <li class="has-dropdown">
      <span>Mejora Regulatoria</span>
      <ul class="dropdown">
        <li onclick="navigateTo('components/sections/mejora/que-es.html')">
          ¿Qué es Mejora Regulatoria?
        </li>

        <li onclick="navigateTo('components/sections/mejora/catalogo.html')">
          Catálogo Municipal
        </li>

        <li onclick="navigateTo('components/sections/mejora/sistema.html')">
          Sistema Municipal
        </li>

        <li onclick="navigateTo('components/sections/mejora/documentacion.html')">
          Documentación Administrativa
        </li>
      </ul>
    </li>

    <li onclick="navigateTo('components/sections/ventanilla/ventanilla.html')">
      Ventanilla Única
    </li>

    <li class="has-dropdown">
      <span>Armonización Contable</span>
      <ul class="dropdown">
        <li onclick="navigateTo('components/sections/armonizacion/armonizacion.html')">
          Armonización Contable
        </li>
        <li onclick="navigateTo('components/sections/armonizacion/bienes.html')">
          Bienes Patrimoniales
        </li>
        <li onclick="navigateTo('components/sections/armonizacion/cuenta.html')">
          Cuenta Pública
        </li>
        <li onclick="navigateTo('components/sections/armonizacion/indicadores.html')">
          Indicadores de Resultados
        </li>
        <li onclick="navigateTo('components/sections/armonizacion/manual.html')">
          Manual
        </li>
      </ul>
    </li>

    <li onclick="navigateTo('components/sections/contacto/contacto.html')">
      Contacto
    </li>

  </ul>
</nav>