/* ===================== */
/* CARD GENERAL */
/* ===================== */

.card {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 250px;
  text-align: center;
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}